#####################
# Example .env file #
#####################

# Logs

LOG_INFO=YES

LOG_DEBUG=NO

# HTTP

HTTP_ENABLED=YES

HTTP_PORT=80
HTTP_BIND_ADDRESS=

# HTTPS

TLS_ENABLED=NO

TLS_PORT=443
TLS_BIND_ADDRESS=

TLS_CERTIFICATE=/path/to/certificate
TLS_PRIVATE_KEY=/path/to/key

TLS_CHECK_RELOAD_SECONDS=60

# Websocket protocol

WEBSOCKET_PREFIX=/

MAX_BINARY_MESSAGE_SIZE=52428800
